<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/icofont/icofont.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="app-admin">
        <div class="app-admin-left">
            <%- include('../includes/aside-admin.ejs') %>
        </div>
        <div class="app-admin-right">
            <% if(music.subtitlePoster.length >= 1) { %>
                <div class="app-admin-right-heading">
                    Lời bài hát <%= music.name %>
                </div>
                <ul class="app-admin-right__subtitle__single-music">
                    <% for(i in music.subtitlePoster) { %> 
                        <li class="app-admin-right__subtitle__single-music-items">
                            <div class="app-admin-right__subtitle__single-music-poster">
                                <div class="app-admin-right__subtitle__single-music-poster__left">
                                    <a href="/user/<%= music.subtitlePoster[i].idPoster %>" class="app-admin-right__subtitle__single-music-poster-link">
                                        <%= users[i].fullname %>
                                    </a>
                                    <span style="margin-left: 4px">đã đăng - </span>
                                    <div class="app-admin-right__subtitle__single-music-poster__left-id">
                                        <%= music.subtitlePoster[i]._id %>    
                                    </div>
                                </div>
                                <div class="app-admin-right__subtitle__single-music-poster__right">
                                    <div class="app-admin-right__subtitle__single-music-poster__right-agree">
                                        Duyệt
                                    </div>
                                    <div class="app-admin-right__subtitle__single-music-poster__right-delete">
                                        Xóa
                                    </div>
                                </div>
                            </div>
                            <div class="app-admin-right__subtitle__single-music-content">
                                <%= music.subtitlePoster[i].content %>
                            </div>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <div class="app-admin-right-heading">
                    Chưa có lời bài hát nào được duyệt!
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
<script src="/js/admin.js"></script>