<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/icofont/icofont.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="app-admin">
        <div class="app-admin-left">
            <%- include('../includes/aside-admin.ejs') %>
        </div>
        <div class="app-admin-right">
            <div class="app-admin-right-heading">
                Danh sách bài hát
            </div>
            <div class="app-admin-right-delete">
                <div class="app-admin-right-delete__icon">
                    <i class="far fa-trash-alt"></i>
                </div>
                <div class="app-admin-right-delete__des">
                    Xóa
                </div>
            </div>
            <table class="app-admin-right-table">
                <tr>
                    <th class="app-admin-right-table__heading">Id</th>
                    <th class="app-admin-right-table__heading">Tên bài hát</th>
                    <th class="app-admin-right-table__heading">Tên tác giả</th>
                    <th class="app-admin-right-table__heading">Tên ca sĩ</th>
                    <th class="app-admin-right-table__heading">Thể loại</th>
                    <th class="app-admin-right-table__heading">Views</th>
                </tr>
                <% musics.forEach(music => { %>
                    <tr class="app-admin-right-table__row"> <!--app-admin-right-table__row--active-->
                        <td class="app-admin-right-table__content">
                            <input type="checkbox" class="app-admin-right-table__checkbox">
                            <a href="danh-sach-bai-hat/<%= music._id %>" class="app-admin-right-table__edit">
                                <i class="far fa-edit"></i>
                            </a>
                            <%= music._id %></td>
                        <td class="app-admin-right-table__content"><%= music.name %></td>
                        <td class="app-admin-right-table__content"><%= music.author %></td>
                        <td class="app-admin-right-table__content"><%= music.singer %></td>
                        <td class="app-admin-right-table__content"><%= music.kind %></td>
                        <td class="app-admin-right-table__content"><%= music.views %></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
</body>
</html>
<script src="/js/admin.js"></script>