<div class="app-admin-left__heading">
    Dashboard Admin
</div>
<ul class="app-admin-left__list">
    <li class="app-admin-left__items <%= pageTitle === 'Tạo bài hát' ? 'app-admin-left__items--active' : '' %>">
        <a href="/admin/tao-bai-hat" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="fas fa-music"></i>
            </div>
            <div class="app-admin-left__items-des">
                Tạo bài hát
            </div>
        </a>
    </li>
    <li class="app-admin-left__items <%= pageTitle === 'Danh sách bài hát chưa duyệt' ? 'app-admin-left__items--active' : '' %>">
        <a href="/admin/tao-loi-bai-hat" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="far fa-closed-captioning"></i>
            </div>
            <div class="app-admin-left__items-des">
                Tạo lời bài hát
            </div>
        </a>
    </li>
    <li class="app-admin-left__items <%= pageTitle === 'Danh sách bài hát' ? 'app-admin-left__items--active' : '' %>">
        <a href="/admin/danh-sach-bai-hat" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="fas fa-music"></i>
            </div>
            <div class="app-admin-left__items-des">
                Danh sách bài hát
            </div>
        </a>
    </li>
    <li class="app-admin-left__items <%= pageTitle === 'Tạo playlist' ? 'app-admin-left__items--active' : '' %>">
        <a href="/admin/tao-playlist" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="fas fa-music"></i>
            </div>
            <div class="app-admin-left__items-des">
                Tạo playlist
            </div>
        </a>
    </li>
    <li class="app-admin-left__items <%= pageTitle === 'Danh sách playlist' ? 'app-admin-left__items--active' : '' %>">
        <a href="/admin/danh-sach-playlist" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="fas fa-music"></i>
            </div>
            <div class="app-admin-left__items-des">
                Danh sách playlist
            </div>
        </a>
    </li>
    <li class="app-admin-left__items <%= pageTitle === 'Tạo video' ? 'app-admin-left__items--active' : '' %>">
        <a href="/admin/tao-video" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="fas fa-music"></i>
            </div>
            <div class="app-admin-left__items-des">
                Tạo video 
            </div>
        </a>
    </li>
    <li class="app-admin-left__items <%= pageTitle === 'Tạo ca sĩ' ? 'app-admin-left__items--active' : '' %>">
        <a href="/admin/tao-ca-si" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="icofont-ui-music"></i>
            </div>
            <div class="app-admin-left__items-des">
                Tạo ca sĩ
            </div>
        </a>
    </li>
    <li class="app-admin-left__items <%= pageTitle === 'Danh sách ca sĩ' ? 'app-admin-left__items--active' : '' %>">
        <a href="/admin/danh-sach-ca-si" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="icofont-music-disk"></i>
            </div>
            <div class="app-admin-left__items-des">
                Danh sách ca sĩ
            </div>
        </a>
    </li>
    <li class="app-admin-left__items <%= pageTitle === 'Danh sách người dùng' ? 'app-admin-left__items--active' : '' %>">
        <a href="/admin/danh-sach-nguoi-dung" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="far fa-user"></i>
            </div>
            <div class="app-admin-left__items-des">
                Danh sách người dùng
            </div>
        </a>
    </li>
    <li class="app-admin-left__items">
        <a href="" class="app-admin-left__items-link">
            <div class="app-admin-left__items-icon">
                <i class="far fa-calendar"></i>
            </div>
            <div class="app-admin-left__items-des">
                Sự kiện
            </div>
        </a>
    </li>
    <li class="app-admin-left__items--information">
        <div class="app-admin-left__items--information-name">
            Christian Grey
        </div>
        <div class="app-admin-left__items--information-icon">
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </li>

</ul>