<div class="music-content-left__kind">
    <ul class="music-content-left__kind-list">
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Việt Nam
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-tre-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Trẻ mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Trẻ
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-tru-tinh-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Trữ Tình mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %> <%= pageTitle === 'Video Nhạc trữ tình mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Trữ Tình
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-cach-mang-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Cách Mạng mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Cách Mạng
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-rap-viet-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Rap Việt mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Rap Việt
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Âu Mỹ
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-pop-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Pop mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Pop
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-rock-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Rock mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Rock
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-Electronica-Dance-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Electronica/Dance mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Electronica/Dance
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-hip-hop-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc R&B/Hip Hop/Rap mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            R&B/Hip Hop/Rap
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items music-content-left__kind-list-items-list__items--newline">
                    <a href="/video/nhac-Blues-Jazz-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Blues/Jazz mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Blues/Jazz
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-Country-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Country mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Country
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-Latin-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Latin mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Latin
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-Indie-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Indie mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Indie
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Châu Á
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-Han-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Hàn mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Hàn
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-Hoa-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Hoa mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Hoa
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-Nhat-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Nhật mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Nhật
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-Thai-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Thái mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Thái
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    karaoke
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/karaoke-nhac-tre-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Karaoke Nhạc Trẻ mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Trẻ
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/karaoke-nhac-tru-tinh-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Karaoke Nhạc Trữ Tình mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Trữ Tình
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/karaoke-nhac-remix-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Karaoke Nhạc Remix Việt mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Remix Việt
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/karaoke-nhac-rap-viet-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Karaoke Nhạc Rap Việt mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Rap Việt
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items music-content-left__kind-list-items-list__items--newline">
                    <a href="/video/karaoke-nhac-cach-mang-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Karaoke Nhạc Cách Mạng mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Cách Mạng
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/karaoke-nhac-thieu-nhi-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Karaoke Nhạc Thiếu Nhi mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Thiếu Nhi
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/karaoke-nhac-au-my-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Karaoke Nhạc Âu Mỹ mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Âu Mỹ
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Khác
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/clip-vui-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Clip Vui mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Clip Vui
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/hai-kich-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Hài Kịch mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Hài Kịch
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/nhac-thieu-nhi-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Nhạc Thiếu Nhi mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Thiếu Nhi
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/video/phim-viet-nam-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Video Phim Việt Nam mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Phim Việt Nam
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>