<div class="music-content-left__kind">
    <ul class="music-content-left__kind-list">
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Việt Nam
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-tre-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Trẻ mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Trẻ
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-tru-tinh-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Trữ Tình mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %> <%= pageTitle === 'Playlist Nhạc trữ tình mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Trữ Tình
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-remix-viet-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Remix Việt mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %> <%= pageTitle === 'Playlist Nhạc trẻ mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Remix Việt
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-rap-viet-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Rap Việt mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Rap Việt
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items music-content-left__kind-list-items-list__items--newline">
                    <a href="/playlist/nhac-tien-chien-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Tiền Chiến mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Tiền Chiến
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-trinh-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Trịnh mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Trịnh
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-rock-viet-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Rock Việt mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Rock Việt
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-cach-mang-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Cách Mạng mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Cách Mạng
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Âu Mỹ
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-pop-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Pop mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Pop
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-rock-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Rock mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Rock
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-Electronica-Dance-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Electronica/Dance mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Electronica/Dance
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-hip-hop-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc R&B/Hip Hop/Rap mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            R&B/Hip Hop/Rap
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items music-content-left__kind-list-items-list__items--newline">
                    <a href="/playlist/nhac-Blues-Jazz-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Blues/Jazz mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Blues/Jazz
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-Country-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Country mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Country
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-Latin-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Latin mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Latin
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-Indie-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Indie mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Indie
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Châu Á
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-Han-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Hàn mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Hàn
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-Hoa-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Hoa mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Hoa
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-Nhat-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Nhật mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Nhật
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-Thai-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Thái mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Thái
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Khác
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-thieu-nhi-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Thiếu Nhi mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Thiếu Nhi
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-khong-loi-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Không Lời mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Không Lời
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="/playlist/nhac-phim-moi" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Phim mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Phim
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link <%= pageTitle === 'Playlist Nhạc Xem Thêm mới' ? 'music-content-left__kind-list-items-list__items-link--active' : '' %>">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Xem Thêm
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>