<header class="header">

    <div class="header__left">

        <ul class="header__left-list">
            <li class="header__left-item-home">
                <a href="/trang-chu" class="header__left-item-link" title="Nghe Nhạc MP3 Online 320kps mới nhất"
                    alt="Nghe Nhac MP3 Online 320kps moi nhat">
                    <img src="https://ar.toneden.io/10000192/52cbb816-5f39-4de4-a770-aaf82ad8f1c5" alt="nhạc của tui"
                        class="header__left-item-link-img">
                </a>
            </li>
            <li class="header__left-item">
                <a href="/bai-hat/bai-hat-moi" class=" <%= pageTitle === 'Bài hát mới' ? ' header__left-item-link--highlight' : ' ' %> header__left-item-link">
                    Bài hát
                </a>
                <div class="header__left-item-child">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Việt Nam
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="/bai-hat/nhac-tre-moi" class="header__left-item-child-item-link">
                                            Nhạc trẻ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="/bai-hat/nhac-tru-tinh-moi" class="header__left-item-child-item-link">
                                            Trữ Tình
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="/bai-hat/nhac-remix-viet-moi" class="header__left-item-child-item-link">
                                            Remix Việt
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="/bai-hat/nhac-rap-viet-moi" class="header__left-item-child-item-link">
                                            Rap Việt
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="bai-hat/nhac" class="header__left-item-child-item-link">
                                            Tiền Chiến
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Trịnh
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Rock Việt
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Cách Mạng
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Âu Mỹ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Pop
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Rock
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Electronica/Dance
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            R&B/HipHop/Rap
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Blues/Jazz
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Country
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Latin
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            India
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Âu Mỹ khác
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            CHÂU Á
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hàn
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hoa
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Nhật
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Thái
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list header__left-item-child-list--final">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Khác
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thiếu Nhi
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Không Lời
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Beat
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thể Loại Khác
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Tui Hát
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="header__left-item">
                <a href="/bai-hat/" class=" <%= pageTitle === 'Playlist mới' ? ' header__left-item-link--highlight' : ' ' %> header__left-item-link">
                    Playlist
                </a>
                <div class="header__left-item-child">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Việt Nam
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc trẻ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Trữ Tình
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Remix Việt
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Rap Việt
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Tiền Chiến
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Trịnh
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Rock Việt
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Cách Mạng
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Âu Mỹ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Pop
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Rock
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Electronica/Dance
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            R&B/HipHop/Rap
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Blues/Jazz
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Country
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Latin
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            India
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Âu Mỹ khác
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            CHÂU Á
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hàn
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hoa
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Nhật
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Thái
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list header__left-item-child-list--final">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Khác
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thiếu Nhi
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Không Lời
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Phim
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thể Loại Khác
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="header__left-item">
                <a href="/bai-hat/bai-hat-moi" class=" <%= pageTitle === 'Tuyển tập' ? ' header__left-item-link--highlight' : ' ' %> header__left-item-link">
                    Tuyển tập
                </a>
                <div class="header__left-item-child">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thể loại
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc trẻ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Trữ Tình
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Pop
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hàn
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hoa
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            SoundTrack
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Không lời
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Tâm Trạng
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Buồn
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Hưng Phấn
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạy Cảm
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhớ Nhung
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thất Tình
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thư Giãn
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Vui Vẻ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Khung Cảnh
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Cà Phê  
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Bar - Club
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Phòng Trà
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Tắm - Bơi Lội
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Tập Gym
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Lãng Mạng
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Mưa
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list header__left-item-child-list--final">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Chủ Đề
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Tình Yêu
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Top 100
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Weekend
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Chill Out
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Bất Hủ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Song Ca
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Mashup
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="header__left-item">
                <a href="/bai-hat/bai-hat-moi" class=" <%= pageTitle === 'Video' ? ' header__left-item-link--highlight' : ' ' %> header__left-item-link">
                    Video
                </a>
                <div class="header__left-item-child">   
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Việt Nam
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc trẻ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Trữ Tình
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Cách Mạng
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Rap Việt
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Rock Việt
                                        </a>
                                    </li>
                                </ul>       
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Âu Mỹ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Pop
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Rock
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Electronica/Dance
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            R&B/HipHop/Rap
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Blues/Jazz
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Country
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Latin
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            India
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Âu Mỹ khác
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            CHÂU Á
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hàn
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hoa
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Nhật
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Thái
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Karaoke
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Trẻ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Trữ Tình
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Remix Việt  
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thiếu Nhi
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Âu Mỹ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thể Loại khác
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="header__left-item-child-list header__left-item-child-list--final">
                                    <li class="header__left-item-child-item header__left-item-child-item--header">
                                        <a href="" class="header__left-item-child-item-link">
                                            Khác
                                        </a>    
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Clip Vui    
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Hài Kịch
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thiếu Nhi 
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thể Loại khác
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Âu Mỹ
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Thể Loại Khác
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Giải Trí Khác
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Phim Việt Nam
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>  
            </li>
            <li class="header__left-item">
                <a href="/bai-hat/bai-hat-moi" class=" <%= pageTitle === 'Bảng xếp hạng' ? ' header__left-item-link--highlight' : ' ' %> header__left-item-link">
                    BXH
                </a>
                <div class="header__left-item-child">
                    <ul class="header__left-item-child-list header__left-item-child-list--final">
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Việt Nam      
                            </a>    
                        </li>
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Âu Mỹ  
                            </a>    
                        </li>
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Hàn Quốc    
                            </a>    
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header__left-item">
                <a href="/bai-hat/bai-hat-moi" class=" <%= pageTitle === 'Chủ đề' ? ' header__left-item-link--highlight' : ' ' %> header__left-item-link">
                    Chủ đề
                </a>
                <div class="header__left-item-child">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="header__left-item-child-list header__left-item-child-list--final">
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            The Best Of 2021   
                                        </a>    
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Hôm Nay Nghe Gì 
                                        </a>    
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Indie   
                                        </a>    
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Bất Hủ Âu Mỹ
                                        </a>    
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Cover & Mashup      
                                        </a>    
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Lofi    
                                        </a>    
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Thiếu Nhi    
                                        </a>    
                                    </li>
                                </ul> 
                            </div>
                            <div class="col">   
                                <ul class="header__left-item-child-list">
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Chill Out
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            EDM
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hot                
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Hoa Lời Việt
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Coffee Time
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Phim   
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Nhạc Buồn
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">   
                                <ul class="header__left-item-child-list header__left-item-child-list--final">
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Acoustic 
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Hải Ngoại
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Remix Việt             
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Bài Hát Yêu Thich
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Gym
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Bolero 
                                        </a>
                                    </li>
                                    <li class="header__left-item-child-item">
                                        <a href="" class="header__left-item-child-item-link">
                                            Piano
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="header__left-item">
                <a href="/bai-hat/bai-hat-moi" class=" <%= pageTitle === 'Top 100' ? ' header__left-item-link--highlight' : ' ' %> header__left-item-link">
                    Top 100
                </a>
                <div class="header__left-item-child">
                    <ul class="header__left-item-child-list header__left-item-child-list--final">
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Việt Nam      
                            </a>    
                        </li>
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Âu Mỹ  
                            </a>    
                        </li>
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Hàn Quốc    
                            </a>    
                        </li>
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Khác
                            </a>    
                        </li>
                    </ul>   
                </div>
            </li>
            <li class="header__left-item">
                <a href="/bai-hat/bai-hat-moi" class="header__left-item-link">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="header__left-item-child">
                    <ul class="header__left-item-child-list header__left-item-child-list--final">
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Khám Phá    
                            </a>    
                        </li>
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Nghệ Sĩ
                            </a>    
                        </li>
                        <li class="header__left-item-child-item">
                            <a href="" class="header__left-item-child-item-link">
                                Tin Tức Âm Nhạc 
                            </a>    
                        </li>
                    </ul>
                </div>       
            </li>
        </ul>
    </div>
    <div class="header-right">
        <div class="header-right-search ">
            <div class="header-right-search-icon">
                <i class="fas fa-search"></i>
            </div>
            <input type="text" class="header-right-search-input" placeholder="Tìm kiếm ">
        </div>
        <div class="header-right-payment">
            <i class="fas fa-credit-card"></i>
        </div>
        <div class="header-right-upload">
            <i class="fas fa-cloud-upload-alt"></i>
        </div>
        <div class="header-right-line">

        </div>
        <% if (!isAuthenticated) { %>
            <div class="header-right-login">
                Đăng nhập
            </div>
        
            <div class="header-right-signup">
                Đăng ký
            </div>
        <% } else { %>
            <div class="header-right-user">
                <img src="<%= User.avatar %>" alt="" class="header-right-user-avatar">
                <div class="header-right-user-des">
                    <div class="header-right-user-des-name">
                        <%= User.username %>
                    </div>
                    <div class="header-right-user-des-coin">
                        <div class="header-right-user-des-coin-icon">
                            <i class="fab fa-bitcoin"></i>
                        </div>
                        <div class="header-right-user-des-coin-number">
                            <%= User.coin %>
                        </div>  
                    </div>
                </div>
                <div class="header-right-user-down">
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="header-right-user-child">
                    <ul class="header-right-user-child-list">
                        <li class="header-right-user-child-item header-right-user-child-item--playlist">
                            <a href="/user/<%= User._id %>" class="header-right-user-child-item-link">
                                Trang cá nhân
                            </a>
                        </li>
                        <li class="header-right-user-child-item">
                            <a href="" class="header-right-user-child-item-link">
                                Nhạc của tui
                            </a>
                        </li>
                        <li class="header-right-user-child-item">
                            <a href="/user/<%= User._id %>/quan-ly" class="header-right-user-child-item-link">
                                Tài khoản
                            </a>
                        </li>
                        <li class="header-right-user-child-item">
                            <a href="" class="header-right-user-child-item-link">
                                Lịch sử
                            </a>
                        </li>
                        <form action="/dang-xuat" method="POST" class="header-right-user-child-item-form--logout">
                            <li class="header-right-user-child-item header-right-user-child-item--logout">
                                <a href="/" class="header-right-user-child-item-link">
                                    Thoát
                                </a>
                            </li>
                        </form>
                    </ul>
                </div>
            </div>       
        <% } %>
    </div>
    
</header>
<div class="header-right-login-child">
    <div class="header-right-login-child-close">
        <i class="fas fa-times"></i>
    </div>
    <div class="header-right-login-child-title">
        Đăng Nhập
    </div>
    <div class="header-right-login-child-underline">

    </div>
    <form action="/dang-nhap" method="POST" class="header-right-login-form">
        <div class="header-right-login-child-component container">
            <div class="row">
                <div class="col-7 header-right-login-child-component-left">
                    <div class="header-right-login-child-component-left-des">
                        Những thông tin có đánh dấu (*) là bắt buộc nhập
                    </div>
                    <div class="header-right-login-child-component-left-form-group">
                        <label for="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-label">
                            Tên đăng nhập <span class="header-right-login-child-component-left-form-group-label-star">*</span>
                        </label>
                        <input name="username" type="text" id="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-input header-right-login-child-component-left-form-group-input--username">
                        <small class="header-right-login-child-component-left-form-group-note">
                            Vui lòng nhập tên đăng nhập phù hợp
                        </small>
                    </div>
                    <div class="header-right-login-child-component-left-form-group">
                        <label for="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-label">
                            Mật Khẩu <span class="header-right-login-child-component-left-form-group-label-star">*</span>
                        </label>
                        <input name="password" type="password" id="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-input">
                    </div>
                    <div class="header-right-login-child-component-left-password">
                        <div class="header-right-login-child-component-left-password-left">
                            <input type="checkbox" name=""class="header-right-login-child-component-left-password-left-checkbox">
                            <div class="header-right-login-child-component-left-password-left-text">
                                Nhớ mật khẩu
                            </div>
                        </div>
                        <div class="header-right-login-child-component-left-password-right">
                            <a href="" class="header-right-login-child-component-left-password-right-text">Quên mật khẩu?</a>
                        </div>
                    </div>
                    <% if(errorMessage) { %>
                    <div class="header-right-login-child-component-left-error">
                        <div class="header-right-login-child-component-left-error-icon">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <div class="header-right-login-child-component-left-error-text">
                            Sai tài khoản hoặc mật khẩu
                        </div>
                    </div>
                    <% } %>
                    <div class="header-right-login-child-component-left-button">
                        ĐĂNG NHẬP
                    </div>
                </div>
                <div class="col-5 header-right-login-child-component-right">
                    <div class="header-right-login-child-component-right-title">
                        Bạn chưa có tài khoản NCT ID?
                    </div>
                    <div class="header-right-login-child-component-right-button">
                        ĐĂNG KÝ NGAY
                    </div>
                    <div class="header-right-login-child-component-right-note">
                        <div class="header-right-login-child-component-right-note-line">
    
                        </div>
                        <div class="header-right-login-child-component-right-note-mid">
                            Hoặc
                        </div>
                        <div class="header-right-login-child-component-right-note-line">
    
                        </div>
                    </div>
                    <ul class="header-right-login-child-component-right-social">
                        <li class="header-right-login-child-component-right-social-item">
                            <a href="" class="header-right-login-child-component-right-social-item-link">
                                <div class="header-right-login-child-component-right-social-item-icon header-right-login-child-component-right-social-item-icon--facebook">
                                    <i class="fab fa-facebook-square"></i>
                                </div>
                                <div class="header-right-login-child-component-right-social-item-des">
                                    Đăng nhập qua Facebook
                                </div>
                            </a>
                        </li>
                        <li class="header-right-login-child-component-right-social-item">
                            <a href="" class="header-right-login-child-component-right-social-item-link">
                                <div class="header-right-login-child-component-right-social-item-icon header-right-login-child-component-right-social-item-icon--google">
                                    <i class="fab fa-google-plus-square"></i>
                                </div>
                                <div class="header-right-login-child-component-right-social-item-des">
                                    Đăng nhập qua Google +
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="header-right-login-child--signup">
    <div class="header-right-login-child-close">
        <i class="fas fa-times"></i>
    </div>
    <div class="header-right-login-child-title">
        Đăng Ký
    </div>
    <div class="header-right-login-child-underline">

    </div>
    <form action="/dang-ky" method="POST" class="header-right-login-form--signup">
        <div class="header-right-login-child-component container">
            <div class="row">
                <div class="col-7 header-right-login-child-component-left">
                    <div class="header-right-login-child-component-left-des">
                        Những thông tin có đánh dấu (*) là bắt buộc nhập
                    </div>
                    <div class="header-right-login-child-component-left-form-group">
                        <label for="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-label">
                            Tên đăng nhập <span class="header-right-login-child-component-left-form-group-label-star">*</span>
                        </label>
                        <input name="username" type="text" id="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-input header-right-login-child-component-left-form-group-input--username">
                        <small class="header-right-login-child-component-left-form-group-note">
                            Vui lòng nhập tên đăng nhập ít nhất 5 ký tự
                        </small>
                    </div>
                    <div class="header-right-login-child-component-left-form-group">
                        <label for="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-label">
                            Mật Khẩu <span class="header-right-login-child-component-left-form-group-label-star">*</span>
                        </label>
                        <input name="password" type="password" id="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-input header-right-login-child-component-left-form-group-input--password">
                        <small class="header-right-login-child-component-left-form-group-note">
                            Vui lòng nhập mật khẩu với ít nhất 8 kí tự, 1 kí tự đặc biệt, 1 kí tự hoa, 1 kí tự thường và 1 số
                        </small>
                    </div>
                    <div class="header-right-login-child-component-left-form-group">
                        <label for="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-label">
                            Nhập lại mật khẩu <span class="header-right-login-child-component-left-form-group-label-star">*</span>
                        </label>
                        <input name="repassword" type="password" id="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-input header-right-login-child-component-left-form-group-input--repassword">
                        <small class="header-right-login-child-component-left-form-group-note">
                            Vui lòng nhập lại mật khẩu trùng với mật khẩu bạn đang đăng ký ở trên
                        </small>
                    </div>
                    <div class="header-right-login-child-component-left-form-group">
                        <label for="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-label">
                            Email <span class="header-right-login-child-component-left-form-group-label-star">*</span>
                        </label>
                        <input name="email" type="text" id="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-input header-right-login-child-component-left-form-group-input--email">
                        <small class="header-right-login-child-component-left-form-group-note">
                            Vui lòng nhập địa chỉ E-mail hợp lệ
                        </small>
                    </div>
                    <!-- <div class="header-right-login-child-component-left-form-group">
                        <label for="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-label">
                            Mã xác nhận <span class="header-right-login-child-component-left-form-group-label-star">*</span>
                        </label>
                        <input type="text" id="header-right-login-child-component-left-form-group-input" class="header-right-login-child-component-left-form-group-input">
                    </div> -->
                   <div class="header-right-login-child-component-left-agree">
                       <input type="checkbox" class="header-right-login-child-component-left-agree-checkbox">
                       <p class="header-right-login-child-component-left-agree-des">
                        Tôi đã đọc và đồng ý các điều kiện 
                       </p>
                       <a href="" class="header-right-login-child-component-left-agree-des-link">
                        Thỏa thuận sử dụng
                       </a>
                   </div>
                    <div class="header-right-login-child-component-left-button--signup">
                        ĐĂNG KÝ
                    </div>
                </div>
                <div class="col-5 header-right-login-child-component-right">
                    <div class="header-right-login-child-component-right-title">
                        Bạn chưa có tài khoản NCT ID?
                    </div>
                    <div class="header-right-login-child-component-right-button--signup">
                        ĐĂNG NHẬP NGAY
                    </div>
                    <div class="header-right-login-child-component-right-note">
                        <div class="header-right-login-child-component-right-note-line">
    
                        </div>
                        <div class="header-right-login-child-component-right-note-mid">
                            Hoặc
                        </div>
                        <div class="header-right-login-child-component-right-note-line">
    
                        </div>
                    </div>
                    <ul class="header-right-login-child-component-right-social">
                        <li class="header-right-login-child-component-right-social-item">
                            <a href="" class="header-right-login-child-component-right-social-item-link">
                                <div class="header-right-login-child-component-right-social-item-icon header-right-login-child-component-right-social-item-icon--facebook">
                                    <i class="fab fa-facebook-square"></i>
                                </div>
                                <div class="header-right-login-child-component-right-social-item-des">
                                    Đăng nhập qua Facebook
                                </div>
                            </a>
                        </li>
                        <li class="header-right-login-child-component-right-social-item">
                            <a href="" class="header-right-login-child-component-right-social-item-link">
                                <div class="header-right-login-child-component-right-social-item-icon header-right-login-child-component-right-social-item-icon--google">
                                    <i class="fab fa-google-plus-square"></i>
                                </div>
                                <div class="header-right-login-child-component-right-social-item-des">
                                    Đăng nhập qua Google +
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="header-right-alpha">

</div>

