<%- include('../includes/head.ejs') %>
</html>
    <body>
        <div class="container-fluid app">
            <%- include('../includes/navigation.ejs') %>
            <div class="music">
                <div class="music-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-9 music-content-left">
                                <%- include('../includes/kind-of-music.ejs') %>
                                <div class="music-content-left__newMusic">
                                    <h1 class="music-content-left__newMusic-title">
                                        Bài hát Hot nhất
                                    </h1>
                                    <ul class="music-content-left__newMusic-list">
                                        <% musics.forEach(music => { %>
                                            <li class="music-content-left__newMusic-list__items">
                                                <div class="music-content-left__newMusic-list__items-left">
                                                    <a href="/bai-hat/<%= music._id %>" class="music-content-left__newMusic-list__items-left-avatar-link">
                                                        <img src="<%= music.background %>" alt="" class="music-content-left__newMusic-list__items-left-avatar">
                                                    </a>
                                                    <div class="music-content-left__newMusic-list__items-left-des">
                                                        <div class="music-content-left__newMusic-list__items-left-des-name">
                                                            <a href="/bai-hat/<%= music._id %>" class="music-content-left__newMusic-list__items-left-des-name-link">
                                                                <%= music.name %>
                                                            </a>
                                                        </div>
                                                        <div class="music-content-left__newMusic-list__items-left-des-singer">
                                                            <% for (let i in music.singers) { if ( i == music.singers.length - 1) { %>   
                                                                <a href="" class="music-content-left__newMusic-list__items-left-des-singer-link">
                                                                    <%= music.singers[i].fullname %>
                                                                </a>
                                                                <% } else { %>
                                                                    <a href="" class="music-content-left__newMusic-list__items-left-des-singer-link">
                                                                        <%= music.singers[i].fullname %>, 
                                                                    </a>
                                                                <% } %>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="music-content-left__newMusic-list__items-right">
                                                    <ul class="music-content-left__newMusic-list__items-right-mark">
                                                        <li class="music-content-left__newMusic-list__items-right-mark__items music-content-left__newMusic-list__items-right-mark__items--1">
                                                            Official 
                                                        </li>
                                                        <li class="music-content-left__newMusic-list__items-right-mark__items music-content-left__newMusic-list__items-right-mark__items--2">
                                                            HQ
                                                        </li>
                                                    </ul>
                                                    <div class="music-content-left__newMusic-list__items-right-listen">
                                                        <div class="music-content-left__newMusic-list__items-right-listen-icon">
                                                            <i class="fas fa-headphones"></i>
                                                        </div>
                                                        <div class="music-content-left__newMusic-list__items-right-listen-number">
                                                            <%= music.views %>
                                                        </div>
                                                    </div>
                                                    <ul class="music-content-left__newMusic-list__items-right-icon">
                                                        <li class="music-content-left__newMusic-list__items-right-icon-items">
                                                            <a href="/bai-hat/<%= music._id %>" class="music-content-left__newMusic-list__items-right-icon-items__link">
                                                                <i class="fas fa-play"></i>
                                                            </a>
                                                        </li>
                                                        <li class="music-content-left__newMusic-list__items-right-icon-items">
                                                            <a href="" class="music-content-left__newMusic-list__items-right-icon-items__link">
                                                                <i class="fas fa-heart"></i>
                                                            </a>
                                                        </li>
                                                        <li class="music-content-left__newMusic-list__items-right-icon-items">
                                                            <a href="/bai-hat/<%= music._id %>"" target="__blank" class="music-content-left__newMusic-list__items-right-icon-items__link">
                                                                <i class="fas fa-window-restore"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        <% }) %>
                                </ul>
                                </div>
                            </div>
                            <div class="col-3 music-content-right">
                                <%- include('../includes/aside.ejs') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<%- include('../includes/end.ejs') %>
