<%- include('../../includes/head.ejs') %>
    <body>
        <div class="app">
            <%- include('../../includes/navigation.ejs') %>
            <div class="admin-user">
                <div class="container">
                    <div class="row">
                        <%- include('../../includes/admin-user.ejs') %>
                        <div style="width: 79.1667%" class="admin-user-component col-9">
                            <div class="admin-user__edit admin-user__edit--password">
                                <div class="container">
                                     <div class="admin-user__edit-heading">
                                        ĐỔI MẬT KHẨU
                                    </div>
                                     <div class="admin-user__edit-editing">
                                         <% if (success) { %>
                                            <div class="admin-user__edit-editing--successfully">
                                                <div class="admin-user__edit-editing--successfully-content">
                                                    <div class="admin-user__edit-editing--successfully-content__alert">
                                                        Alert
                                                    </div>
                                                    <div class="admin-user__edit-editing--successfully-content__des">
                                                        Cập nhật mật khẩu thành công
                                                    </div>
                                                    <div class="admin-user__edit-editing--successfully-content__button">
                                                        OK
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                         <form action="/user/<%=User._id%>/doi-mat-khau" method="POST" class="admin-user__edit-form">
                                             <div class="admin-user__edit-form-form-group">
                                                 <label for="admin-user__edit-form-form-group-input--username" class="admin-user__edit-form-form-group-key">
                                                     Tên đăng nhập
                                                 </label>
                                                 <input type="text" id="admin-user__edit-form-form-group-input--username" class="admin-user__edit-form-form-group-input" value="<%= user.username %>" disabled>
                                             </div>
                                             <div class="admin-user__edit-form-form-group">
                                                 <label for="admin-user__edit-form-form-group-input--currentPassword" class="admin-user__edit-form-form-group-key">
                                                     Mật khẩu hiện tại
                                                 </label>
                                                 <input type="password" autocomplete="off" id="admin-user__edit-form-form-group-input--currentPassword" class="admin-user__edit-form-form-group-input" value="<%= user.currentPassword %>" name="password">
                                             </div>
                                             <div class="admin-user__edit-form-form-group">
                                                 <label for="admin-user__edit-form-form-group-input--newPassword" class="admin-user__edit-form-form-group-key">
                                                    Mật khẩu mới
                                                </label>
                                                 <input type="password" autocomplete="off" id="admin-user__edit-form-form-group-input--newPassword" class="admin-user__edit-form-form-group-input" value="<%= user.newPassword %>" name="newPassword">
                                                 <small class="admin-user__edit-form-form-group-note">
                                                    Vui lòng nhập mật khẩu với ít nhất 8 kí tự, 1 kí tự đặc biệt, 1 kí tự hoa, 1 kí tự thường và 1 số
                                                </small>     
                                            </div>
                                             <div class="admin-user__edit-form-form-group">
                                                 <label for="admin-user__edit-form-form-group-input--rePassword" class="admin-user__edit-form-form-group-key">
                                                    Nhập lại mật khẩu mới
                                                 </label>
                                                 <input type="password" autocomplete="off" id="admin-user__edit-form-form-group-input--rePassword" class="admin-user__edit-form-form-group-input" value="<%= user.rePassword %>" name="rePassword">
                                                <small class="admin-user__edit-form-form-group-note">
                                                    Vui lòng nhập lại mật khẩu phù hợp
                                                </small> 
                                            </div>
                                             <div class="admin-user__edit-form-button">
                                                 <div class="admin-user__edit-form-button-item admin-user__edit-form-button-submit">
                                                     Lưu
                                                 </div>
                                             </div>
                                         </form>
                                     </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>

</html>
<%- include('../../includes/end.ejs') %>