<%- include('../../includes/head.ejs') %>
<div class="app">
    <%- include('../../includes/navigation.ejs') %>
    <div class="admin-user">
        <div class="container">
            <div class="row">
                <%- include('../../includes/admin-user.ejs') %>
                <div style="width: 79.1667%" class="admin-user-component col-9">
                    <div class="admin-user-component__playlist">
                        <% if(user.playlists.length == 0) { %>
                            <h4 class="admin-user-component__playlist-title">
                                Bạn hiện tại chưa có playlist nào
                            </h4>
                        <% } else { %>
                            <h4 class="admin-user-component__playlist-title">
                                Playlist của bạn
                            </h4>
                            <ul class="admin-user-component__playlist-list">
                                <% user.playlists.forEach(playlist => { %>
                                    <li class="admin-user-component__playlist-items">
                                        <a href="" class="admin-user-component__playlist-items-image">
                                            <img src="<%= playlist.background %>" alt="" class="admin-user-component__playlist-items-img">
                                        </a>
                                        <a href="" class="admin-user-component__playlist-items-title">
                                            <%= playlist.title %>
                                        </a>
                                    </li>
                                <% }) %>
                            </ul>
                        <% } %>
                    </div>              
                </div>
            </div>
        </div>

    </div>
</div>
<%- include('../../includes/end.ejs') %>